header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

body{
  background-color: #E3DBD4;
  color: #484848;
  font-family: "Literata", serif;
  padding: 0 150px 0 150px;
  margin: 0;
}

.menu {
  display: flex;
  gap: 30px; /* Adds space between links */
  align-items: center;
  /* padding-right: 150px; */
}

.menu a {
  text-decoration: none;
  color: #484848;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 500;
   transition: color 0.3s; */
  display: inline-block;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 450;
  transition: background-color 0.3s, color 0.3s;
    
}

.menu a:hover {
  color: #E3DBD4;
  background-color: #484848;
  
}

header img {
  width: 50px;
  height: auto;
  padding: 0;
  margin: 0;
}

/* 1st part - intro */
.intro img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  max-width: 100%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25rem;
  flex-wrap: wrap;
  margin-bottom: 50px;
  
  
}

/* stack them on small screens */
@media (max-width: 768px) {
  .intro, .about-me {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    
  }

  .intro img, .about-me img {
    max-width: 100%;
  }

  body {
    padding: 0 20px 0 20px;
  }

  .intro h1, .about-me h1 {
  font-size: clamp(1.5rem, 2vw, 5rem);
  }

  

}




/* 2nd part - about me */
.about-me {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25rem;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.about-me img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  max-width: 100%;
}

.about-me p {
  width: 500px;  
  height: 200px;
}

footer {
  text-align: center;
}


/* To make text in identity-values blog post and learning plan blog post more readable. */
.style {
  line-height: 1.6;
}