@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

header {
  display: flex;
  align-items: center;
  padding: 15px 50px;
  background-color: #e3dbd3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  gap: 30px; 
}

body {
  background-color: #e3dbd4;
  color: #484848;
  font-family: 'Literata', serif;
  margin: 0;
  padding: 100px 50px 0 50px;
  position: relative; /* Needed for ::before to position correctly */
  min-height: 100vh;
  overflow-x: hidden;
  text-align: justify; 
}

body::before {
  content: "";
  position: fixed; /* Makes it stay while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/styles/img/background2.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.40;
  z-index: -1;
}

/* Only for the homepage */
body.home .layout-container {
  display: block; /* Remove flex layout */
  padding-left: 0;
  margin-left: 0;
}

body.home main {
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
  display: block;
  text-align: left;
}


.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start; 
}

.menu a {
  text-decoration: none;
  color: #484848;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 500;
   transition: color 0.3s; */
  display: inline-block;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 450;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
  color: #e3dbd4;
  background-color: #484848;
}

header img {
  width: 30px;
  height: auto;
  padding: 0;
  margin: 0;
}

/* Flex for intro and about me */
.intro,
#about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.intro .text,
.intro .img,
#about-me .text,
#about-me .img {
  flex: 1 1 300px;
  max-width: 500px;

}

.intro img,
#about-me img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  max-width: 100%;
}


/* For small screens main page */
@media (max-width: 768px) {
  .intro,
  #about-me {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .intro img,
  #about-me img {
    max-width: 100%;
  }

  body {
    padding: 0 20px 0 20px;
  }

  .intro h1,
  #about-me h1 {
    font-size: clamp(1.5rem, 2vw, 5rem);
  }
}

/* BLOG POSTS Section */
a {
  text-decoration: none;
  color: inherit;
}

#posts {
  padding: 50px 20px;
  text-align: center;
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.post-title {
  width: 280px;
  height: 250px;
  background-color: #2f3a4e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-decoration: none;
  color: #e3dbd4;
  font-weight: bold;
  font-size: 1.1rem;
  transition: transform 0.3s ease;
}

.post-title:hover {
  transform: translateY(-5px);
  color: #fcec85;
}

.post-title img {
  width: 100%;
  height: 180px;
  object-fit: cover; 
  background-color: #fff;
}
/* BLOG POSTS Section end */

#footer-contacts a {
  text-decoration: none;
  color: #484848;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 450;
  transition: background-color 0.3s, color 0.3s;
}
#footer-contacts a:hover {
  background-color: #484848;
  color: #e3dbd4;
}

/* For small screens blog post pages */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
    font-size: clamp(1.5rem, 2vw, 5rem);
  }

  main {
    width: 100%;
    font-size: clamp(1.5rem, 2vw, 5rem);
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(1.5rem, 2vw, 5rem);
  }

  header .menu {
    margin-top: 10px;
    font-size: clamp(1.5rem, 2vw, 5rem);
  }

  header .menu a {
    margin-left: 0;
    margin-right: 15px;
    font-size: clamp(1.5rem, 2vw, 5rem);
  }
}

/* Footer Contacts */

footer {
  text-align: center;
  margin-top: 7px;
}

footer p {
  margin-top: 0;
}

/* Sidebar for blog posts */
main {
  flex: 1;
  padding: 0;
  /* margin-left: 50px; */
  max-width: 900px;
  font-size: 1.1rem;
  line-height: 1.6;
  position: relative;
  z-index: 1;
  background-color: #e3dbd3;
  border-radius: 20px;
  padding: 40px;
  margin: 20px;
  
}

.layout-container {
  display: flex;
  gap: 100px;
}

/* Sidebar styles */
.sidebar {
  width: 220px;
  background-color: #e3dbd3;
  border-radius: 20px;
  color: #484848;
  padding: 20px;
  height: fit-content;
  position: sticky;
  top: 100px; 
  align-self: flex-start;
  border-right: 1px solid #ddd;
  z-index: 2;
}

.sidebar h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #484848;
  font-weight: 500;
  border-radius: 30px;
  padding: 6px 12px;
  display: inline-block;
}

.sidebar a:hover {
  color: #e3dbd4;
  background-color: #484848;
}

.sidebar a:active {
  color: #e6eef3;
  background-color: #65737b;
}
.sidebar a.active {
  color: #e3dbd4;
  background-color: #484848;
}
/* Sidebar styles end */

